<div class="wrapper-empty" *ngIf="!dataSource.data.length">
  <app-empty msg="No se encontraron categorias">
  </app-empty>
</div>

<div [hidden]="!dataSource.data.length">

  <h1 class="title">CATEGORIAS</h1>

  <div class="table">
    <mat-form-field appearance="fill">
      <mat-label>Buscar</mat-label>
      <input matInput [(ngModel)]="search" placeholder="User">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-table mat-table [dataSource]="dataSource.data | filter: search">

      <ng-container matColumnDef="id">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> ID </th>
        <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Nombre </th>
        <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="creationAt">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Fecha de creación </th>
        <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.creationAt | date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="operation">
        <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Operación </th>
        <td mat-cell class="custom-data-cell scrollable-cell" *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="['/manager/update-category', element.id]">Actualizar</button>
          <button mat-button color="accent" (click)='deleteCategory(element.id)'>Eliminar</button>
          <button mat-button color="warn" [routerLink]="['/manager/category', element.id]">Detalle</button>
          <button mat-button color="warn" [routerLink]="['/manager/categories', element.id, 'products']">Ver productos</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro {{search}}"</td>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>