<mat-icon class="return" [routerLink]="'/manager/categories'">assignment_return</mat-icon>

<div class="wrapper-empty" *ngIf="!dataSource.data.length">
  <app-empty msg="No existen productos en esta categoria">
  </app-empty>
</div>

<div class="table" [hidden]="!dataSource.data.length">

  <mat-table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Nombre </th>
      <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Precio </th>
      <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.price |  currency:'MXN ':'symbol':'1.2-2' }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Decripcion </th>
      <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="creationAt">
      <th mat-header-cell class="custom-header-cell" *matHeaderCellDef> Fecha de creación </th>
      <td mat-cell class="custom-data-cell" *matCellDef="let element"> {{element.creationAt }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>