<h1> Cambio de contraseña </h1>

<div class="wrapper">
  <form class="form" [formGroup]="myForm" novalidate>

    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Nueva contraseña</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="input['password'].touched && input['password'].invalid">
        <span *ngIf="input['password'].errors">Contraseña invalido</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form__input" appearance="fill">
      <mat-label>Confirmar contraseña</mat-label>
      <input type="password" matInput formControlName="confirmPassword">
      <mat-error *ngIf="input['confirmPassword'].touched && input['confirmPassword'].invalid">
        <span *ngIf="input['confirmPassword'].errors">Contraseña invalida</span>
      </mat-error>
    </mat-form-field>

    <button class="btn-access"
      mat-raised-button
      color="primary"
      [disabled]="myForm.invalid"
      (click)="save()">
      Guardar
    </button>

  </form>

</div>